@keyframes padding-slide-title {
    from {
        padding-top: 0px;
    }
    to {
        padding-top: 32px;
    }
}
@keyframes padding-slide-item {
    from {
        padding-top: 0px;
    }
    to {
        padding-top: 16px;
    }
}

/* Global element */
#project-list > li {
    height: 49dvw;
    width: 49%;
    text-align: center;
    z-index: 10;
    transition: width 0.2s, transform 0.2s ease-out;
}
#project-list > li:not(.active):hover {
    cursor: pointer;
    width: 51%;
}

/* Overview title */
#project-list > li .overview-title {
    position: relative;
    width: fit-content;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 18px;
    display: block;
    transform: translate(12px, 9px);
    text-wrap: nowrap;
    z-index: 15;
    opacity: 0;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 1);
    transition: color 0.2s, background-color 0.2s, opacity 0.2s;
}
#project-list > li:not(.active):hover .overview-title {
    opacity: 1;
}

/* Content */
#project-list > li .content {
    width: 100%;
    transition: height 0.2s, width 0.05s, transform 0.2s, background-color 0.2s;
}

/* Overview thumbnail */
#project-list > li .content img.thumbnail {
    width: 51vw;
    margin-left: -6%;
    transition: margin-left 0.2s, opacity 0.2s;
}
#project-list > li:not(.active):hover .content img.thumbnail {
    margin-left: 0%;
}

/* Data details */
#project-list > li .content .details {
    display: flex;
    flex-direction: column;
    margin: 32px;
    overflow: scroll;
    max-height: 0%;
    text-align: left;
    overscroll-behavior: contain;
    scroll-snap-type: y proximity;
    scrollbar-width: 0px;
    transition: max-height 0.4s 0.3s;
}
#project-list > li.fixed .content .details::-webkit-scrollbar {
    display: none;
}
#project-list > li .content .details h2 {
    position: fixed;
    top: 32px;
}
#project-list > li .content .details .close {
    position: fixed;
    top: 12px;
    right: 64px;
    margin-top: 26px;
    font-size: 16px;
    font-family: Verdana;
}
#project-list > li .content .details article {
    scroll-snap-align: center;
}
#project-list > li .content .details article img {
    max-height: 90dvh;
    max-width: 100%;
}
#project-list > li .content .details article h3, #project-list > li .content .details article p {
    position: fixed;
    right: 64px;
    text-align: right;
    opacity: 0;
    transition: opacity 0.3s;
}
#project-list > li .content .details article h3 {
    top: 120px;
}
#project-list > li .content .details article p {
    top: 240px;
    max-width: 40dvw;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~ Opening animation ~~~~~~~~~~~~~~~~~~~~~~~~ */

/* 1st step - active */
#project-list > li.active {
    pointer-events: all;
    z-index: 20;
}
#project-list > li.active .content {
    width: 100dvw;
    transition: height 0.3s, width 0.3s 0.3s, transform 0.3s;
}
#project-list > li.active .content img.thumbnail {
    opacity: 0;
    transition: margin-left 0.2s, opacity 0.2s 0.2s;
}

/* 2nd step - opened */
#project-list > li.opened .content {
    height: 100dvh;
}
#project-list > li.opened .content img.thumbnail {
    display: none;
}

/* 3rd step - fixed */
#project-list > li.fixed {
    transition: none;
}
#project-list > li.fixed .overview-title {
    display: none;
}
#project-list > li.fixed .content {
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 32px;
    transition: none;
}
#project-list > li.fixed .content .details {
    max-height: 100%;
}
#project-list > li.fixed .content .details > article {
    padding-top: 16px;
    animation: padding-slide-item 0.4s 0.3s;
}
#project-list > li.fixed .content .details h2, #project-list > li.fixed .content .details .close {
    animation: fade-in 0.3s;
}
#project-list > li .content .details article.show-text h3, #project-list > li .content .details article.show-text p {
    opacity: 1;
    transition: opacity 0.3s 1.0s;
}